*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 600px ;
    column-gap: 20px;
    row-gap: 20px;
}
.header{
    display: flex;
    justify-content:space-between;
    grid-column: 1/4;
}
.main{
    grid-column: 1/3;
}